[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock

[mysqld_safe]
socket          = /var/lib/mysql/mysql.sock
nice            = 0


[mysqld]

### 基本設定
skip-character-set-client-handshake
character-set-server = utf8

user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/lib/mysql/mysql.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
skip-external-locking
#bind-address            = 10.0.10.10

key_buffer_size          = 256M
max_allowed_packet       = 16M
thread_stack             = 256K
thread_cache_size        = 16
read_rnd_buffer_size     = 1M
sort_buffer_size         = 2M
join_buffer_size         = 256K

auto-increment-increment = 1
auto-increment-offset    = 1

# MyISAM関連設定
myisam-recover-options  = BACKUP

#thread_concurrency     = 10
max_connections         = 50
wait_timeout            = 180
net_read_timeout        = 30
net_write_timeout       = 30
back_log                = 128
table_cache             = 128
max_heap_table_size     = 32M

# Query Cache設定 ヒット率が低い場合はOFF推奨

query_cache_limit       = 1M
query_cache_size        = 16M

### Logging

## 一般クエリログ。本番環境では必要時を除き出力しない
log                     = /var/log/mysql/general.log

## エラーログ
log_error               = /var/log/mysql/error.log

## スロークエリログ
slow_query_log          = ON
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 1
#log-queries-not-using-indexes

server-id               = 1

## バイナリログ
log_bin = mysql-bin
log_slave_updates       = false
log_bin_trust_function_creators = 1
expire_logs_days        = 7
max_binlog_size         = 1024M
#binlog_do_db           = include_database_name
#binlog_ignore_db       = include_database_name
sync_binlog             = 1

### InnoDB関連設定
#skip-innodb
innodb_buffer_pool_size = 512M
innodb_log_file_size    = 128M
innodb_additional_mem_pool_size = 20M
innodb_data_file_path   = ibdata1:1G:autoextend
innodb_file_per_table
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size  = 16M

### Federated
skip-federated

### Security関連設定

# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/

# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem


[mysqldump]
quick
quote-names
max_allowed_packet      = 16M


[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer              = 16M